@use "reset";
@use "variables/global";
@use "themes/light";
@use "themes/dark";
@use "themes/pink";

body {
  interpolate-size: allow-keywords;
}

.app {
  font: var(--font-l);
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.app_redesigned {
  font: var(--font-l-redesigned);
  background-color: var(--bg-redesigned);
  color: var(--text-redesigned);
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.content-page {
  display: flex;
}

iframe {
  display: none;
}
