.ListBox {
  justify-content: start;
  width: 100%;

  &:has(.options[data-headlessui-state]) .buttonInner {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top: 1px solid var(--accent-redesigned);
    border-left: 1px solid var(--accent-redesigned);
    border-right: 1px solid var(--accent-redesigned);

    &:hover {
      color: var(--text-redesigned);
    }

    &:hover .buttonArrowIcon {
      color: var(--hint-redesigned);
    }
  }
}

.Label {
  font: var(--font-m);
}

.buttonInner {
  gap: 16px;
  background: var(--light-bg-redesigned);
  border-radius: 18px;
  text-transform: capitalize;
  border: 1px solid var(--light-bg-redesigned);

  &:focus-visible {
    outline: 1px solid var(--accent-redesigned);
  }

  .buttonArrowIcon {
    color: var(--hint-redesigned);
  }

  &:hover .buttonArrowIcon {
    color: var(--accent-redesigned);
  }
}

.options {
  position: absolute;
  z-index: 100000;
  font: var(--font-m-redesigned);
  text-transform: capitalize;
  width: 100%;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-color: var(--light-bg-redesigned);

  opacity: 0;
  height: 0;

  &[data-headlessui-state] {
    animation: optionsAnim 0.3s forwards;
  }
}

@keyframes optionsAnim {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: fit-content;
  }
}

.item {
  padding: 5px 20px;
  text-wrap: nowrap;
  cursor: pointer;

  &.active {
    background-color: var(--light-bg-redesigned);
  }

  &.disabled {
    opacity: 0.5;
  }

  &.selected {
    background-color: var(--light-bg-redesigned);
  }
}
