.LoginForm {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.LoginHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  margin-top: 10px;
}

.loginBtn {
  margin-top: 15px;
  margin-left: auto;
}