.CodeRedesigned {
  padding: 20px;
  position: relative;
  background: var(--light-bg-redesigned);
  overflow: auto;
  border: 1px solid var(--accent-redesigned);
  scrollbar-width: thin;
  scrollbar-color: var(--accent-redesigned) var(--light-bg-redesigned);
  border-radius: 16px;
  width: 100%;
  font: var(--font-m-redesigned);
}

.copyBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}
