.Sidebar {
  height: calc(100vh - var(--navbar-height));
  max-width: var(--sidebar-width);
  width: 100%;
  background: var(--inverted-bg-color);
  position: relative;
  transition: max-width .3s ease-in-out;
}

.Sidebar_Redisigned {
  max-width: var(--sidebar-width-redisigned);
  width: 100%;
  height: calc(100vh - 64px);
  background: var(--light-bg-redesigned);
  border-radius: var(--sidebar-border-radius-redisigned);
  transition: max-width .3s ease-in-out;
  overflow: hidden;
}
.switchers {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.items {
  margin-left: 10px;
  padding-top: 20px;
  width: fit-content;
}

.link {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  & span {
    opacity: 1;
  }

  & svg {
    width: 32px;
    fill: var(--inverted-primary-color);
  }
}

.collapsed {
  max-width: var(--sidebar-width-collapsed);

  // .switchers {
  //   flex-direction: column;
  //   gap: 10px;
  // }

  .link span {
    opacity: 0;
    display: none;
    transition: opacity .3s ease-in-out;
  }
}

.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
  z-index: var(--collapse-btn-z-index);
}
.collapseBtn_Redisigned {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: var(--collapse-btn-z-index);
}

.appLogo {
  padding-top: 20px;
}