.link {
//   display: flex;
//   gap: 10px;
//   justify-content: center;
//   align-items: center;
  white-space: nowrap;

  & span {
    opacity: 1;
  }

  & svg {
    width: 32px;
    height: 32px;
    padding: 3px;
    fill: var(--inverted-primary-color);
  }
}


.link.collapsed  span {
  opacity: 0;
  display: none;
  transition: opacity .3s ease-in-out, display 1s;
}