.LIST {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 100%;
}

.TILE {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
  margin: 0 auto;
}