.ListBox {
  position: relative;
  width: max-content;
}

.Label {
  font: var(--font-m);
}

.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.buttonInner {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  max-width: max-content;
}

.buttonArrowIcon {
  width: 16px;
  fill: var(--primary-color);
  stroke: var(--primary-color);
}

.options {
  background: var(--listbox-bg);
  position: absolute;
  z-index: 100000;
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
  overflow: hidden;
  font: var(--font-m);

  // width: 100%;
}

.optionsBottomLeft {
  top: 105%;
  right: 0;
}

.optionsBottomRight {
  top: 105%;
  left: 0;
}

.optionsTopLeft {
  bottom: 105%;
  right: 0;
}

.optionsTopRight {
  bottom: 105%;
  left: 0;
}


.item {
  padding: 5px 20px;
  text-wrap: nowrap;
  cursor: pointer;

  &.active {
    background: var(--inverted-primary-color);
  }

  &.disabled {
    opacity: .5;
  }

  &.selected {
    background-color: var(--succes-dark-color);
    color: var(--inverted-bg-color);
  }
}