.primary {
  color: var(--text-redesigned);
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--accent-redesigned);
  }
}

.red {
  color: var(--cancel-redesigned);

  &:hover {
    opacity: 0.8;
    stroke-opacity: 0.8;
    fill-opacity: 0.8;
  }
}
