:root:has(.app_dark_theme) {
  --bg-color: #1c1c1c;
  --inverted-bg-color: #cecece;
  --primary-color: #f80;
  --inverted-primary-color: #574e4d;
  --secondary-color: #fff;
  --inverted-secondary-color: #000;

  // skeleton
  --skeleton-color: #cecece;
  --skeleton-shadow: #c9bcbc;

  // code
  --code-bg: #313131;

  // loader
  --loader-color: #574e4d;

  // card
  --card-bg: #2f2f2f;

  // listbox
  --listbox-bg: #2f2f2f;

  // view selector
  --view-selected: #f80;
  --view-nonselected: #cecece;
}