:root:has(.app_pink_theme) {
  --bg-color: #fbf4f8;
  --inverted-bg-color: #84145d;
  --primary-color: #4e0f62;
  --inverted-primary-color: #dcdbdb;
  --secondary-color: #000;
  --inverted-secondary-color: #fff;

  // redesigned
  --dark-bg-redesigned: #FFF3D6;
  --bg-redesigned: #F0C048;
  --light-bg-redesigned: #F2D791;
  --text-redesigned: #1B1311;
  --hint-redesigned: #B8B2A2;
  --cancel-redesigned: #FF5E5E;
  --save-redesigned: #52FA81;
  --icon-redesigned: #4875F0;
  --accent-redesigned: #1D59FF;

  // skeleton
  --skeleton-color: #af3584;
  --skeleton-shadow: #84145d;

  // code
  --code-bg: #fffdfe;

  // loader
  --loader-color: #4e0f62;

  // card
  --card-bg: #dbd5d8;

  // listbox
  --listbox-bg: #dbd5d8;

  // view selector
  --view-selected: #84145d;
  --view-nonselected: #000;
}