:root:has(.app_pink_theme) {
  --bg-color: #fbf4f8;
  --inverted-bg-color: #84145d;
  --primary-color: #4e0f62;
  --inverted-primary-color: #dcdbdb;
  --secondary-color: #000;
  --inverted-secondary-color: #fff;
  
  // skeleton
  --skeleton-color: #af3584;
  --skeleton-shadow: #84145d;

  // code
  --code-bg: #fffdfe;

  // loader
  --loader-color: #4e0f62;  
  
  // card
  --card-bg: #dbd5d8;

  // view selector
  --view-selected: #84145d;
  --view-nonselected: #000;
} 