.Page {
  flex-grow: 1;
  padding: 20px 20px 20px 40px;
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--inverted-bg-color) var(--bg-color);
}

.PageRedesigned {
  overflow-y: auto;
}

.pageContainer {  
  max-width: 1460px;
  width: 100%;
  margin: 0 auto;
}

.trigger {
  height: 20px;
  margin: 10px;
}