.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 15px;
}

.AppName {
  width: var(--sidebar-width);
}

.link {
  display: block;
  margin-left: auto;
}
.createdLink {
font: var(--font-m);
}