.Button {
  cursor: pointer;
  color: var(--text-redesigned);
  padding: 5px 15px;
  transition: all 0.3s;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
  position: relative;
  width: 100%;

  &:focus-visible {
    color: var(--accent-redesigned);
  }

  &:hover {
    color: var(--accent-redesigned);
    transition: all 0.3s;
  }

  &.disabled {
    opacity: 0.5;
  }

  &.withAddonLeft {
    padding-left: 32px;
  }

  &.withAddonRight {
    padding-right: 32px;
  }
}

.addonLeft {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

.addonRight {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  border: 1px solid var(--text-redesigned);
  background: none;
  color: var(--text-redesigned);

  &:hover {
    border-color: var(--accent-redesigned);
    transition: all 0.3s;
  }

  &:focus-visible {
    border-color: var(--accent-redesigned);
  }
}

.light {
  background-color: var(--light-bg-redesigned);

  &:focus-visible {
    border: 1px solid var(--accent-redesigned);
  }
}

.success {
  border: 1px solid var(--save-redesigned);
  background: none;
  color: var(--text-redesigned);

  &:hover {
    color: var(--save-redesigned);
    transition: all 0.3s;
  }

  &:focus-visible {
    color: var(--save-redesigned);
  }
}

.danger {
  border: 1px solid var(--cancel-redesigned);
  background: none;
  color: var(--text-redesigned);

  &:hover {
    color: var(--cancel-redesigned);
    transition: all 0.3s;
  }

  &:focus-visible {
    color: var(--cancel-redesigned);
  }
}

.s {
  font: var(--font-s-redesigned);
}

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

.square {
  padding: 0;

  &.s {
    width: var(--font-line-s);
    height: var(--font-line-s);
  }

  &.m {
    width: var(--font-line-m);
    height: var(--font-line-m);
    font: var(--font-m-redesigned);
  }

  &.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font: var(--font-l-redesigned);
  }

  &.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    font: var(--font-xl-redesigned);
  }
}

.fullWidth {
  width: 100%;
}
