.Button {
  cursor: pointer;
  color: var(--text-redesigned);
  padding: 5px 15px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;

  &:hover {
    color: var(--accent-redesigned);
    transition: all 0.3s;
  }

  &.disabled {
    opacity: 0.5;
  }
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  border: 1px solid var(--text-redesigned);
  background: none;
  color: var(--text-redesigned);
}

.light {
  background-color: var(--light-bg-redesigned);
}

.s {
  font: var(--font-s-redesigned);
}

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

.square {
  padding: 0;

  &.s {
    width: var(--font-line-s);
    height: var(--font-line-s);
  }

  &.m {
    width: var(--font-line-m);
    height: var(--font-line-m);
    font: var(--font-m-redesigned);
  }

  &.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font: var(--font-l-redesigned);
  }

  &.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    font: var(--font-xl-redesigned);
  }
}

.fullWidth {
  width: 100%;
}
