.Card {
  border-radius: 18px;
  padding: 24px;

  &.withoutPaddings {
    padding: 0;
  }

  &.max {
    width: 100%;
  }
}

.normal {
  background: var(--dark-bg-redesigned);
}

.outlined {
  border: 1px solid var(--accent-redesigned);
}
.outlinedInverted {
  border: 1px solid var(--dark-bg-redesigned);
}

.light {
  background: var(--light-bg-redesigned);
}
