.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.input {
  margin-top: 10px;
}

.loading,
.error  {
  display: flex;
  align-items: center;
  min-height: 300px;
}

.error {
  justify-content: center;
}
.centered {
  margin: 0 auto;
}

.editing {
  border-color: var(--succes-dark-color);
}