.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
  width: 100%;
}

.input {
  width: 100%;
}

.inputSelect {
  width: fit-content;
}

.loading,
.error {
  min-height: 300px;
}

.centered {
  margin: 0 auto;
}

.editing {
  border-color: var(--succes-dark-color);
}