.InputWrapper {
  width: 100%;

  .InputWithIcon {
    position: relative;
    width: 100%;
    font: var(--font-m-redesigned);
    border: 2px solid var(--icon-redesigned);
    padding: 8px 16px;
    transition: all 0.3s ease-in-out;
    border-radius: 48px;

    &.withAddonLeft {
      padding-left: 8px;

      & .Input {
        padding-left: 32px;
      }
    }

    &.withAddonRight {
      padding-right: 8px;

      & .Input {
        padding-left: 0px;
      }
    }

    &:has(.Input:not(:read-only):focus-visible) {
      border-color: var(--accent-redesigned);

      & svg {
        color: var(--accent-redesigned);
      }
    }

    .addonLeft {
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
    }

    .addonRight {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
    }

    .Input {
      width: 100%;
      color: var(--hint-redesigned);
      font: var(--font-m-redesigned);
      background: transparent;

      &::placeholder {
        color: var(--hint-redesigned);
      }
    }
  }
}
